<p class="fw-bold bi bi-x-lg"> Myte</p>
<p>Jo mere du spiller, jo større er sandsynligheden for, at du vinder.</p>

<p class="fw-bold bi bi-check-lg"> Fakta</p>
<p>
    At du bruger længere tid på at spille, har ikke nogen indflydelse på udfaldet af den næste begivenhed. Du kan forøge dine chancer for at vinde i specifikke typer af spil ved at forstå, hvordan odds fungerer for relevante spilstrategier, men du kan ikke garantere et udfald. Så bare ved at spille længere, forøges sandsynligheden for at vinde ikke.
</p>
<hr>

<p class="fw-bold bi bi-x-lg"> Myte</p>
<p>
    Hvis du spiller længe nok, vinder du med tiden alle dine penge tilbage.
</p>
<p class="fw-bold bi bi-check-lg"> Fakta</p>
<p>
    Jo mere du spiller, jo større er sandsynligheden for, at du taber flere penge. Spil bør ses som en underholdende fritidsaktivitet og være en del af dit samlede rekreative forbrug.
</p>
<hr>
<p class="fw-bold bi bi-x-lg"> Myte</p>
<p>
    Hvis du kender et spil, forøger du dine chancer for at vinde.
</p>
<p class="fw-bold bi bi-check-lg"> Fakta</p>
<p>
    Du kan forøge dine chancer for at vinde i visse former for spil, såsom Sport og Poker, ved at forstå, hvordan odds fungerer og lære alle relevante spilstrategier, men du kan ikke garantere et udfald.    
</p>
<p>
    Lige meget hvor godt du kender et spil eller en sport, kan du ikke gøre rede for tilfældighed. Når alt kommer til alt, så ser vi sport af den simple grund, at ikke to kampe er ens, selv når de samme deltagere spiller på samme sted, så hvorfor skulle udfaldene af spil være anderledes?
</p>
<hr>
<p class="fw-bold bi bi-x-lg"> Myte</p>
<p>
    Når du spiller, kan du, ved at holde styr på tidligere resultater, regne det næste resultat ud.
</p>
<p class="fw-bold bi bi-check-lg"> Fakta</p>
<p>
    
Du kan bruge resultater til at træffe et mere rationelt valg, men i sidste ende bestemmer de ikke udfaldet. Det forhindrer dig heller ikke i at tabe - selv når alle statistikker siger, at det er en sikker vinder.
</p>
