<div class="text-center pt-3">   
    <div class="fw-bold mb-3">Hvad er ludomani?</div>
    <div class="container-lg">
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                Ludomani er når, du spiller til en sådan grad, at det kompromitterer, ødelægger eller skader dit familieliv, dit personlige liv eller dit fritidsliv. 
                En ludoman beskrives typisk som værende en, der har brugt flere penge og/eller tid på at spille, end de har råd til. 
                I værste tilfælde kan dette resultere i spilleafhængighed, som kan lede til finansielle problemer, problemer på arbejde og problemer med familie og venner.

            </div>
            <div class="col"></div>    
        </div>
    </div>
</div>
<br>
