<div class="container mt-5">
  <h3>Nulstil din adgangskode<hr></h3>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="newPassword">Ny adgangskode:</label>
      <input type="password" id="newPassword" formControlName="newPassword" class="form-control" placeholder="Mindst 8 tegn" />
      <div *ngIf="resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched" class="text-danger">
        Adgangskoden skal være mindst 6 tegn.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="resetForm.invalid">Nulstil adgangskode</button>
  </form>

  <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
</div>
