<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-2 border-primary">
    <div class="container-fluid">
      <!-- Brand -->
      <a class="navbar-brand" [routerLink]="['/']">EvenBetterCasino</a>
  
      <!-- Burger-menu -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Nav-indhold -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Venstre links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/games']" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">Alle Spil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/account']" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">Konto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/bank']" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">bank</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/rofus']" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">ROFUS</a>
          </li>
        </ul>
  
        <!-- Højre side -->
        <div class="d-flex align-items-center gap-2 flex-column flex-lg-row">
          <!-- Saldo -->
          <div *ngIf="currentUser" class="text-light text-nowrap d-flex align-items-center">
            <i class="bi bi-credit-card me-1"></i>
            <span>Saldo: {{ currentUser.balance | number:'1.0-2' }} kr.</span>
          </div>
          
  
          <!-- Knapper -->
          <a *ngIf="!isLoggedIn" [routerLink]="['/login']"
            class="btn btn-outline-light rounded-pill px-3">Login</a>
          <a *ngIf="!isLoggedIn" [routerLink]="['/login']"
            class="btn btn-outline-light rounded-pill px-3">Registrer</a>
          <a *ngIf="isLoggedIn" class="btn btn-outline-light rounded-pill px-3" (click)="logout()">Logout</a>
          <a *ngIf="currentUser && roleChecker === 'Admin'" [routerLink]="['/admin']"
            class="btn btn-outline-warning rounded-pill px-3">Admin</a>
        </div>
      </div>
    </div>
  </nav>
  