<div>
    <div>
        <div class="fw-bold mb-3">Hvordan spiller jeg ansvarligt?</div>
        <p class="bi bi-check-circle-fill"> Se spil som en form for underholdning og ikke en indkomstkilde.!</p>
        <p class="bi bi-check-circle-fill"> Spil kun, for hvad du har råd til at tabe. Du kan bruge indbetalingsgrænser til at hjælpe dig med at håndtere, hvor mange penge du bruger.</p>
        <p class="bi bi-check-circle-fill"> Jagt aldrig dine tab, da dette kan føre til problemer.</p>
        <p class="bi bi-check-circle-fill"> Vær opmærksom på, hvor meget tid du bruger på at spille. Du kan bruge aktivitetsadvarsler til at minde dig om, hvor længe du har været logget ind på din konto.</p>
        <p class="bi bi-check-circle-fill"> Sørg for, at der er balance med andre aktiviteter. Når spil bliver din eneste form for underholdning, bør du stoppe og overveje, om du stadig har det sjovt.</p>
        <p class="bi bi-check-circle-fill"> Tag regelmæssige pauser fra at spille. Kontinuerligt spil kan gøre, at du mister følingen med tid og perspektiv.</p>
        <p class="bi bi-check-circle-fill"> Du bør ikke spille når du er beruset, eller når du er ked af det eller deprimeret, da dette kan svække din beslutningstagning.</p>
        <p class="bi bi-check-circle-fill"> Tænk over, hvor meget tid og hvor mange penge du bruger på at spille. Du kan holde styr på din aktivitet ved at bruge Min aktivitet.</p>
        <p class="bi bi-check-circle-fill"> Forstå din chance for at vinde og hvordan produkterne fungerer.</p>
        <p class="bi bi-check-circle-fill"> Hvis du nogensinde skulle have behov for at snakke med nogen om spilleproblemer, kan du kontakte en støtteorganisation for spilleproblemer.</p>
    </div>

    <div>
        <div class="fw-bold mt-5">Er du ansvarlig?</div>
        <div class="my-2">
            Vi har en stærk tro på, at den eneste måde at spille på hos EvenBetter Casino er at spille ansvarligt. 
            For et mindre antal personer kan spil have en skadelig effekt. 
            Hvis du er bekymret over den måde, hvorpå du spiller, kan du besvare vores korte selvevaluering for at se, om du har et spilleproblem.
        </div>
    </div>
</div>
