<app-game-layout gameName="Yatzy" [betAmount]="betAmount" (betPlaced)="playYatzyGame($event)">
  <!-- Titel -->
  <div slot="title-area">
    <h1 class="yatzy__title">Yatzy 🎲</h1>
  </div>
  
  <!-- Terninger -->
  <div slot="game-area" class="yatzy__play-area">
    <div class="container-fluid">
      <div class="row justify-content-center">
            <li 
              *ngFor="let combo of combinations" 
              class="list-group-item d-flex justify-content-between align-items-center bg-dark border-bottom px-3 border-info rounded my-1"
            >
              <div>
                <span class="me-2">|{{combo.symbols }}|</span>
                <span class="text-white">{{ combo.name }}</span>
              </div>
              <span class="badge bg-white text-dark">{{ combo.multiplier }}x</span>
            </li>
        </div>
    </div>
    <div class="yatzy__dice-row d-flex justify-content-center gap-3 p-5 my-4">
      <div
        *ngFor="let idx of [0,1,2,3,4]; let i = index"
        class="yatzy__dice-box text-center"
        [class.yatzy__dice-win]="winDiceIndexes.includes(i)"
        [class.roll-animation]="isLoading"
      >
        <span class="yatzy__dice-number">
          {{ diceResults[i] !== undefined ? diceResults[i] : '-' }}
        </span>
      </div>
    </div>
    <div *ngIf="diceResults.length" class="yatzy__result">
      <p><strong>Kombination:</strong> {{ combinationText }}</p>
    </div>
  </div>
</app-game-layout>