<app-game-layout [betAmount]="betAmount" (betPlaced)="playYatzyGame($event)">
  <!-- Titel -->
  <div slot="title-area">
    <h1 class="yatzy__title">Yatzy 🎲</h1>
  </div>

  <!-- Terninger -->
  <div slot="game-area" class="yatzy__play-area">
    <div class="yatzy__dice-row d-flex justify-content-center gap-3 p-5 my-4">
      <div
        *ngFor="let idx of [0,1,2,3,4]; let i = index"
        class="yatzy__dice-box text-center"
        [class.yatzy__dice-win]="winDiceIndexes.includes(i)"
        [class.roll-animation]="isLoading">        
        <span class="yatzy__dice-number">
          {{ diceResults[i] !== undefined ? diceResults[i] : '-' }}
        </span>
        
      </div>
    </div>
    <div *ngIf="diceResults.length" class="yatzy__result">
      <p><strong>Kombination:</strong> {{ combinationText }}</p>
    </div>
  </div>
      <!-- Bet-område -->
    <div slot="bet-area" class="yatzy__feedback">
        <!-- <p><strong>Indsats valgt:</strong> {{ betAmount | currency:'DKK':'symbol':'1.2-2':'da-DK' }}</p> -->
        <p *ngIf="payout > 0" class="yatzy__win">Du vandt {{ payout | currency:'DKK':'symbol':'1.2-2':'da-DK' }}</p>
        <p *ngIf="diceResults.length && payout === 0" class="yatzy__lose">
            Desværre, ingen gevinst denne gang.
        </p>
    </div>
</app-game-layout>