<app-game-layout [betAmount]="betAmount" (betPlaced)="playYatzyGame($event)">
    <!-- Titel -->
    <div slot="title-area">
        <h1 class="yatzy__title">Yatzy 🎲</h1>
    </div>

    <!-- Spilindhold -->
    <div slot="game-area" class="yatzy__play-area">


        <div *ngIf="diceResults.length" class="yatzy__dice-container">
            <div class="yatzy__dice" *ngFor="let die of diceResults; trackBy: trackByIndex"
                [class.roll-animation]="isLoading">
                🎲 {{ die }}
            </div>
        </div>

        <div *ngIf="diceResults.length" class="yatzy__result">
            <p><strong>Kombination:</strong> {{ combinationText }}</p>
            <!-- <p><strong>Udbetaling:</strong> {{ payout | currency:'DKK':'symbol':'1.2-2':'da-DK' }}</p> -->
        </div>
    </div>

    <!-- Jackpot -->
    <div slot="jackpot-area" class="yatzy__jackpot">
        <span>JACKPOT:</span>
        <span class="yatzy__jackpot-value">{{ jackpot | currency:'DKK':'symbol':'1.2-2':'da-DK' }}</span>

    </div>

    <!-- Bet-område -->
    <div slot="bet-area" class="yatzy__feedback">
        <!-- <p><strong>Indsats valgt:</strong> {{ betAmount | currency:'DKK':'symbol':'1.2-2':'da-DK' }}</p> -->
        <p *ngIf="payout > 0" class="yatzy__win">Du vandt {{ payout | currency:'DKK':'symbol':'1.2-2':'da-DK' }}</p>
        <p *ngIf="diceResults.length && payout === 0" class="yatzy__lose">
            Desværre, ingen gevinst denne gang.
        </p>
    </div>
</app-game-layout>