<div class="container mt-5">
  <h3>Glemt adgangskode</h3>
  <form [formGroup]="forgotForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <label for="email">Indtast din e-mail</label>
      <input formControlName="email" type="email" class="form-control" placeholder="f.eks. test@example.com" />
      <div *ngIf="submitted && forgotForm.controls['email'].invalid" class="text-danger">
        Ugyldig e-mailadresse
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Send nulstillingslink</button>
  </form>

  <div class="alert alert-info mt-3" *ngIf="message">{{ message }}</div>
</div>
